#memory_board {
  width: 900px;
  text-align:center;
  margin: auto;
}

#memory_board > div{
  background-color: pink;
  border:1px solid grey;
  border-radius: 5px;
  width:160px;
  height:160px;
  float:left;
  margin:10px;
  padding:20px;
  font-size:64px;
  cursor:pointer;
  text-align:center;
}

.dolphin {
  background: url('images/dolphin.png')
}

div .card {
  transition-property: background-image;
  transition-duration: 2s;
  transition-timing-function: linear;
}

