body {
  background: url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: auto;
}

nav {
  background: #09337b;
  height: 90px;
  width: 100%;
  position: fixed;
  margin-top: 0;
}

#memory_board {
  width: 900px;
  text-align:center;
  margin: auto;
  padding-top: 100px;

}

#memory_board > div{
  background-color: #c7cede;
  box-shadow: 0 0 10px #888888;
  border-radius: 5px;
  width:160px;
  height:160px;
  float:left;
  margin:10px;
  padding:20px;
  font-size:64px;
  cursor:pointer;
  text-align:center;
}

div .card {
  transition-property: background-image;
  transition-duration: 2s;
  transition-timing-function: linear;
}

li {
  list-style: none;
  display: inline-block;
}

.button {
  -webkit-transition:-webkit-transform 1s,opacity 1s,background 1s,width 1s,height 1s,font-size 1s;
  -o-transition-property:width,height,-o-transform,background,font-size,opacity,color;
  -o-transition-duration:1s,1s,1s,1s,1s,1s,1s;
  -moz-transition-property:width, height, -moz-transform, background, font-size, opacity, color;
  -moz-transition-duration:1s,1s,1s,1s,1s,1s,1s;
  transition-property:width,height,transform,background,font-size,opacity;
  transition-duration:.5s,.5s,.5s,.5s,.5s,.5s;
  border: 0px;
  border-radius: 5px;
  height: 65px;
  width: 150px;
}

.button:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);

}

.sesamebutton {
  background:url('/lib/assets/images/icons/sesame.jpg');
}

.mysterybutton {
  background:url('/lib/assets/images/icons/mystery.jpg');
}

.shapesbutton {
  background:url('/lib/assets/images/icons/shapes.jpg');
}

.lettersbutton {
  background:url('/lib/assets/images/icons/letters.jpg');
}

.colorsbutton {
  background:url('/lib/assets/images/icons/colors.jpg');
}

ul {
  margin: 10px;
  padding: 0;
  text-align: center;
}

.click_count {
  display: none;
  float: center;
  margin-top: -47px;
}

p {
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

#quit {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: #fff;
  font-size: 1em;
  color: #09337b;
}

.instructions {
  padding-top: 160px;
  padding-left: 110px;
  color: #FFFFFF;
  font-size: 1.67em;
  width: 50%;
  height: 200px;
  background: url('/lib/assets/images/instructions.png') no-repeat center;
}
